{{- $pageurl := .Permalink }}
{{- $title := .Title }}

{{ $.Scratch.Set "tags" ""}}

{{- with .Params.Tags }}
{{ $hashtags := newScratch}}
{{ range . }}{{ $hashtags.Add "tags" (slice (replaceRE "(\\s)" "" . ))}}{{end}}
{{ $.Scratch.Set "tags" (delimit ($hashtags.Get "tags") ",")  }}
{{- end }}

<div class="share-buttons">
    <!-- <span style="padding-top: 10px; margin-right: 1rem;"><small>Share this post on - </small></span> -->
    <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on twitter"
        href="https://twitter.com/intent/tweet/?text={{ $title }}&amp;url={{ $pageurl }}&amp;hashtags={{- $.Scratch.Get "tags" -}}">
        <img src="https://img.icons8.com/ios-glyphs/50/000000/twitter.png"/>
    </a>
    <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on linkedin"
        href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ $pageurl }}&amp;title={{ $title }}&amp;summary={{ $title }}&amp;source={{ $pageurl }}">
        <img src="https://img.icons8.com/ios-glyphs/50/000000/linkedin.png"/>
    </a>
    <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on reddit"
        href="https://reddit.com/submit?url={{ $pageurl }}&title={{ $title }}">
        <img src="https://img.icons8.com/ios-glyphs/50/000000/reddit.png"/>
    </a>
    <a target="_blank" rel="noopener noreferrer" aria-label="share {{ $title | plainify }} on whatsapp"
        href="https://api.whatsapp.com/send?text={{ $title }}%20-%20{{ $pageurl }}">
        <img src="https://img.icons8.com/ios-glyphs/50/000000/whatsapp.png"/>
    </a>
</div>
